doctype html
html
    include ./includes/head.jade
    body
        include ./includes/header.jade

        .b-splash-block-1
            .container
                .b-splash-block-1__background-container
                    .b-splash-block-1__background
                h1.b-splash-block-1__title Строить с нами #[span.b-splash-block-1__title_color_red выгодней#[br] и безопасней], чем с прорабом#[br]или частной бригадой

                p.b-splash-block-1__text Фундамент буронабивные сваи с ростверком,#[br]несущие стены из газобетонных блоков #[b D 500], кровля#[br]металлочерепица окна двери.

                span.b-splash-block-1__price от #[span.b-splash-block-1__price-value 17 000] руб/м2
        .b-feedback-mini
            h2.b-feedback-mini__title Записаться на просмотр строящегося дома

            .container
                form.b-feedback-mini__form
                    .row
                        .col-xs-10.col-xs-offset-1
                            .row
                                .col-xs-4
                                    .form-group
                                        label.sr-only Представьтесь:
                                        input.form-control(type="text", placeholder="Представьтесь:")
                                .col-xs-4
                                    .form-group
                                        label.sr-only Телефон:
                                        input.form-control(type="text", placeholder="Телефон:")
                                .col-xs-4
                                    button.btn.btn-success.btn-lg.b-feedback-mini__button(type="submit") Заявка на просмотр дома
        .b-advantages#advantages
            .container
                h2.b-advantages__title ваши выгоды

                .clearfix
                    .row
                        .col-xs-4
                            .b-advantages__item
                                img.b-advantages__image(src='assets/img/advantages/1.png')

                                p.b-advantages__text У нас оптовые цены#[br]на материалы без наценки.
                        .col-xs-4
                            .b-advantages__item
                                img.b-advantages__image(src='assets/img/advantages/2.png')

                                p.b-advantages__text Гарантия на строительные#[br]работы 7 лет.
                        .col-xs-4
                            .b-advantages__item
                                img.b-advantages__image(src='assets/img/advantages/3.png')

                                p.b-advantages__text Не каких дополнительных платежей. Сметная стоимость закрепляется в&nbsp;договоре и не меняется.
                .clearfix
                    .row
                        .col-xs-4
                            .b-advantages__item
                                img.b-advantages__image(src='assets/img/advantages/4.png')

                                p.b-advantages__text Строительство дома согласно проекту, что исключает возможность серьезных ошибок.
                        .col-xs-4
                            .b-advantages__item
                                img.b-advantages__image(src='assets/img/advantages/5.png')

                                p.b-advantages__text Удобная система оплаты по этапам строительства, мы не просим всю сумму сразу.
                        .col-xs-4
                            .b-advantages__item
                                img.b-advantages__image(src='assets/img/advantages/6.png')

                                p.b-advantages__text Подробная и прозрачная смета, в&nbsp;которой расписаны все материалы и работы.
        .b-catalog#catalog
            .container
                h2.b-catalog__header посмотрите самые популярные#[br]проекты домов

                // Nav tabs
                ul.nav.nav-pills.b-catalog__tabs(role='tablist')
                    each catalogCategory, catalogIndex in catalog
                        - var klass = (catalogIndex === 0 ? 'active' : '')
                        li(role='presentation', class=klass): a(href='#tab#{catalogIndex+1}', aria-controls='tab#{catalogIndex+1}', role='tab', data-toggle='tab') #{catalogCategory.name}
                // Tab panes
                .tab-content
                    each catalogCategory, catalogIndex in catalog
                        - var klass = (catalogIndex === 0 ? 'tab-pane active' : 'tab-pane')
                        div(role='tabpanel', class=klass, id='tab#{catalogIndex+1}')
                            .row
                                each item, index in catalogCategory.items
                                    .col-xs-4
                                        .b-catalog__item
                                            img.b-catalog__image(src='assets/img/catalog/#{catalogIndex+1}_#{index+1}.jpg')

                                            p.b-catalog__title= item.name

                                            ul.b-catalog-attributes
                                                each attribute in item.attributes
                                                    li.b-catalog-attributes__item
                                                        span.b-catalog-attributes__title #{attribute.name}:
                                                        span.b-catalog-attributes__value #{attribute.value}
                                                         - if (attribute.postfix)
                                                            |  м#[sup 2]

                                            p.b-catalog__price цена #[span.b-catalog__price-value #{item.price}] руб.

                                            a.btn.btn-success.b-catalog__button.fancybox(href='#modal_form') Получить планировку и&nbsp;рассчет
        .b-feedback-medium
            .container
                .b-feedback-medium__background-container
                    .b-feedback-medium__background
                .row
                    .col-xs-5
                        h2.b-feedback-medium__title Разработка индивидуального проекта #[span.b-feedback-medium__title_underlined БЕСПЛАТНО]

                        p.b-feedback-medium__text Оставьте заявку на бесплатное проектирования вашего дома.
                    .col-xs-7
                        form.b-feedback-medium__form
                            .row
                                .col-xs-6
                                    .form-group
                                        label.sr-only Представьтесь:
                                        input.form-control(type="text", placeholder="Представьтесь:")
                                .col-xs-6
                                    .form-group
                                        label.sr-only Телефон:
                                        input.form-control(type="text", placeholder="Телефон:")
                            .form-group
                                label.sr-only Комментарии:
                                textarea.form-control(rows='6', placeholder='Комментарии:')

                            button.btn.btn-success.btn-lg.btn-block.b-feedback-medium__button(type="submit") Отправить заявку на #[span.b-feedback-medium__button_red бесплатный] проект

        .b-gallery#gallery
            h2.b-gallery__title фото со стройплощадки

            .b-gallery__list
                each val in [1, 2, 3, 4, 5, 6, 7, 8]
                    .b-gallery__item
                        img.b-gallery__image(src='assets/img/gallery/#{val}.jpg')

        .b-feedback-mini
            h2.b-feedback-mini__title Записаться на просмотр строящегося дома
            .container
                form.b-feedback-mini__form
                    .row
                        .col-xs-10.col-xs-offset-1
                            .row
                                .col-xs-4
                                    .form-group
                                        label.sr-only Представьтесь:
                                        input.form-control(type="text", placeholder="Представьтесь:")
                                .col-xs-4
                                    .form-group
                                        label.sr-only Телефон:
                                        input.form-control(type="text", placeholder="Телефон:")
                                .col-xs-4
                                    button.btn.btn-success.btn-lg.b-feedback-mini__button(type="submit") Заявка на просмотр дома

        .b-reviews#reviews
            h2.b-reviews__title отзывы клиентов

            .b-reviews__list
                .b-reviews__item
                    iframe(width="641",height="360",src="https://www.youtube.com/embed/snHUrs9hGYM",frameborder="0",allowfullscreen)
                .b-reviews__item
                    iframe(width="641",height="360",src="https://www.youtube.com/embed/sgDSFN8oykM",frameborder="0",allowfullscreen)
        .b-feedback-large#feedback_large
            .container
                .b-feedback-large__background-container
                    .b-feedback-large__background
                    .b-feedback-large__image
                .row
                    .col-xs-8
                        h2.b-feedback-large__title выполним расчет вашего дома!

                        p.b-feedback-large__text По проектам, эскизам, рисункам, картинкам, где бы Вы их ни увидели:

                        .row
                            .col-xs-10.col-xs-offset-1
                                form.b-feedback-large__form
                                    .row
                                        .col-xs-6
                                            .form-group
                                                label.sr-only Представьтесь:
                                                input.form-control(type="text", placeholder="Представьтесь:")
                                        .col-xs-6
                                            .form-group
                                                label.sr-only Телефон:
                                                input.form-control(type="text", placeholder="Телефон:")
                                    .form-group
                                        label.sr-only Комментарии:
                                        textarea.form-control(rows='6', placeholder='Комментарии:')
                                    .form-group
                                        label.sr-only Файл:
                                        input.form-control(type="file")

                                    button.btn.btn-success.btn-lg.btn-block.b-feedback-large__button(type="submit") Получить #[span.b-feedback-large__button_red смету] на дом
        .b-map
            .container.b-map__container
                .b-map__content
                    p Есть вопросы? Звоните!
                    p.b-map__phone 8 (343) 298-37-68
                    p 620000,#[br]г. Екатеринбург, ул. Щербакова, 4#[br]ТРЦ «Глобус», офис 310
                    p
                    p #[a(href='#') info@ask-unit.ru]
            script(charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Ap68d-6GZeuWzORctHmfLlKBRYXYExYr&width=100%&height=430&lang=ru_RU&sourceType=constructor&scroll=true")


include ./includes/footer.jade
